ion-view(title="Commits")
  ion-content.light-bg.has-header
    ion-infinite-scroll(icon="ion-loading-c", on-infinite="getCommits()", ng-if="!noMoreItemsAvailable")
    div.list

      a.item.item-avatar(ng-repeat="commit in commits", href="#")
        img(ng-src="{{commit.author.avatar_url}}")
        h2 {{commit.commit.message}}
        p {{commit.commit.author.date}}
