ion-view(title="Author")
  ion-content.light-bg.has-header(style="text-align: center;")
    h3 Le me
    p
      img(src="img/leme.jpg", alt="It's me !")

    h4 Yacine Rezgui
    p French Tunisian Developer
    p HTML5 lover, JavaScript ninja, Startups fan
    p
      | Co-Organizer of 
      a(href="http://www.meetup.com/londonphonegap/", target="_blank") London Phonegap Meetup
    p
      a(href="http://www.yrezgui.com", target="_blank") http://www.yrezgui.com

    div.button-bar.padding
      a.button.icon.ion-social-twitter.button-calm(href="https://twitter.com/yrezgui", target="_blank")
      a.button.icon.ion-social-googleplus.button-assertive(href="https://plus.google.com/+YacineRezgui/", target="_blank")
      a.button.icon.ion-social-github.button-stable(href="https://github.com/yrezgui", target="_blank")
      a.button.icon.ion-social-linkedin.button-positive(href="https://www.linkedin.com/in/yrezgui/en", target="_blank")
      a.button.icon.ion-social-rss.button-dark(href="https://medium.com/@yrezgui", target="_blank")
      a.button.icon.ion-social-tumblr.button-royal(href="http://blog.yrezgui.com/", target="_blank")