ion-view(title="Ionic Rocket")
  ion-content.light-bg.has-header

    div.content.padding(style="text-align: center;")
      p
        img(src="https://pbs.twimg.com/media/BkdKf_PCAAE8-wU.png", alt="Ionic Rocket")

      h1 Ionic Rocket

      h4
        | The best solution to bootstrap your HTML5 Mobile Application, created by 
        a(href="https://github.com/yrezgui") @yrezgui
        | .
      
      br

      button.button.button-block.button-outline.button-positive(ui-sref="tabs.home.dependencies") Have a look to the dependencies

      br

      div.button-bar
        a.button.button-positive(href="https://twitter.com/yrezgui", target="_blank") Follow me on Twitter
        a.button.button-positive(href="https://github.com/yrezgui/ionic-rocket", target="_blank") Fork on Github