ion-tabs.tabs-positive.tabs-icon-top

  ion-tab(title="Project", icon="ion-ios7-bolt", ui-sref="tabs.home")
    ion-nav-view(name="tab-home")

  ion-tab(title="Commits", icon="ion-ios7-cloud-upload", ui-sref="tabs.commits")
    ion-nav-view(name="tab-commits")

  ion-tab(title="Author", icon="ion-ios7-person", ui-sref="tabs.author")
      ion-nav-view(name="tab-author")
