ion-tabs.tabs-icon-top.tabs-light

  ion-tab(title="Project", icon="ion-ionic", ui-sref="tabs.home")
    ion-nav-view(name="tab-home")

  ion-tab(title="Commits", icon="ion-upload", ui-sref="tabs.commits")
    ion-nav-view(name="tab-commits")

  ion-tab(title="About", icon="ion-information-circled", ui-sref="tabs.about")
      ion-nav-view(name="tab-about")
