doctype html
html
  head
    meta(charset="utf-8")
    title Ionic Rocket
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")

    each val in assets.styles
      link(rel="stylesheet", href=val)

  body(ng-app="rocketApp")

    ion-nav-bar.nav-title-slide-ios7.bar-stable
      ion-nav-back-button.button-icon
        i.ion-ios7-arrow-thin-left 
        |&nbsp; Back

    ion-nav-view
    
    each val in assets.dependencies
      script(src=val)

    each val in assets.scripts
      script(src=val)