ion-view(title="Dependencies")
  ion-content.light-bg.has-header
    
    div.list

      div.item.item-divider Libraries
      a.item(href="https://github.com/driftyco/ionic") Ionic Framework
      a.item(href="https://github.com/angular/angular.js") AngularJS

      div.item.item-divider Pre-processors
      a.item(href="https://github.com/less/less.js") Less
      a.item(href="https://github.com/visionmedia/jade") Jade
      
      div.item.item-divider Mobile
      a.item(href="https://github.com/apache/cordova-cli") Cordova

      div.item.item-divider Tools
      a.item(href="https://github.com/gulpjs/gulp") Gulp
      a.item(href="https://github.com/joyent/node") NodeJS
      a.item(href="https://github.com/npm/npm") NPM
      a.item(href="https://github.com/bower/bower") Bower
